ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
ARVAN_ACCESS_KEY=
ARVAN_SECRET_KEY=
ARVAN_BUCKET=
ARVAN_ENDPOINT=
ARVAN_PUBLIC_BASE_URL=
ARVAN_VOD_API_KEY=
ARVAN_VOD_API_BASE=
ARVAN_VOD_CHANNEL_NAME=
ARVAN_VOD_SUBDOMAIN=
NEXT_PUBLIC_MEDIA_HOSTNAME=
DATABASE_URL=
CONTACT_EMAIL=
CONTACT_PHONE=
CONTACT_PHONE_HREF=
COMPANY_ADDRESS=
BUSINESS_HOURS=
MAP_EMBED_URL=
ARVAN_REGION=
